@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap');
body {
    margin:0;
    font-family: Arial, sans-serif;
  }
  
  header, .header2 {
    display: grid;
    grid-template-columns: 1fr auto;
    background-color: #255538;
    color: white;
    padding:  30px;
    font-family: serif;
    
    
  }
  
  .logo {
    font-size: 24px;
    font-family: serif;
    color: white;
  }
 
  .logo2{
    font-size: 24px;
    font-family:sans-serif ;
    color: white;
  }
.header-content  {
    position: relative;
    height: 300px;
    width: auto;
    background-image: url(/image/img1.jpg); 
    background-size: cover;
    background-position: center;
    color: white;
    text-align: left;
    display: flex;
    justify-content: left;
    align-items:center;
    font-family: serif;
    padding: 20px;
    border-radius: 6px;

  }
p{
  color: #7E4333;
  font-family: serif;
  font-size: 30px;
  padding: 10px;

}
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    color: white;
   
  }
  
  nav ul li {
    margin-left: 20px;
  }
  
  
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    padding: 20px;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 100%;
    height: auto;
    justify-content: center;
  }
  
  .grid-item {
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 100%;
    height: auto;  
    
  }
 
  
 img {
    max-width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    align-items:center;
  }
  